    <div id="wrapper">
      <h1>Vox News Scraper</h1>
      <ul>
      {{#each article}}
      <li>
        <h3><p data-id={{id}}> {{title}} </p></h3>
        <div id="anchorStyle">
          <a href={{link}}> {{summary}} </a>
        </div>
        <br />
        <img src={{image}}>
      <div id="notes"></div>
      <div class="seperator">____          ____          ____</div>
      <br />
      </li>
      {{/each}}
        <br />
      </ul>
    </div>